<header class="s-header">

    <div class="header-mobile">
        <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
    </div>
    <div class="row wide main-nav-wrap">
        <nav class="column lg-12 main-nav">
            <ul>
                <li class="current"><a href="#intro" class="smoothscroll">Знакомство</a></li>
                <li><a href="#about" class="smoothscroll">Обо мне</a></li>
                <li><a href="#works" class="smoothscroll">Пет-проекты</a></li>
                <li><a href="#contact" class="smoothscroll">Обратная связь</a></li>
            </ul>
        </nav>
    </div>

</header>