{% load static %}
<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Website-resume</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'application/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'application/css/styles.css' %}">

    <link rel="icon" type="images/png" sizes="32x32" href="{% static 'application/images/icons8-r-quill-32.png' %}">
    <link rel="icon" type="images/png" sizes="16x16" href="{% static 'application/images/icons8-r-quill-16.png' %}">

</head>


<body id="top">
<div id="preloader">
    <div id="loader">
    </div>
</div>

{% block content %}
{% endblock %}
<script src="{% static 'application/js/plugins.js' %}"></script>
<script src="{% static 'application/js/main.js' %}"></script>

</body>
</html>