{% load static %}
<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Resume</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'application/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'application/css/styles.css' %}">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="images/png" sizes="32x32" href="{% static 'application/favicon-32x32.png' %}">
    <link rel="icon" type="images/png" sizes="16x16" href="{% static 'application/favicon-16x16.png' %}">

</head>

<body id="top">


<!-- # preloader
================================================== -->
<div id="preloader">
    <div id="loader">
    </div>
</div>

<!-- # page wrap
================================================== -->
<div class="s-pagewrap">

    <!-- ## site header
    ================================================== -->
    <header class="s-header">

        <div class="header-mobile">
            <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
        </div>

        <div class="row wide main-nav-wrap">
            <nav class="column lg-12 main-nav">
                <ul>
                    <li class="current"><a href="#intro" class="smoothscroll">Знакомство</a></li>
                    <li><a href="#about" class="smoothscroll">Обо мне</a></li>
                    <li><a href="#works" class="smoothscroll">Пет-проекты</a></li>
                    <li><a href="#contact" class="smoothscroll">Обратная связь</a></li>
                </ul>
            </nav>
        </div>

    </header> <!-- end s-header -->


    <!-- ## main content
    ==================================================- -->
    <main class="s-content">


        <!-- ### intro
        ================================================== -->
        <section id="intro" class="s-intro target-section">

            <div class="row intro-content wide">

                <div class="column">
                    <div class="text-pretitle with-line">
                        Привет, Мир
                    </div>

                    <h1 class="text-huge-title">
                        Меня зовут<br>
                        {{ info.surname }} {{ info.name }}<br>
                        Я {{ info.profession }}<br>
                    </h1>
                </div>

                <ul class="intro-social">
                    {% for media in social_media %}
                    <li><a href="{{ media.url }}">{{ media.title }}</a></li>
                    {% endfor %}
                </ul>

            </div> <!-- end intro content -->

        </section> <!-- end s-intro -->


        <!-- ### about
        ================================================== -->
        <section id="about" class="s-about target-section">


            <div class="row about-info wide" data-animate-block>

                <div class="column lg-6 md-12 about-info__pic-block">
                    <img src="{{ info.photo.url }}" class="about-info__pic" data-animate-el>
                </div>

                <div class="column lg-6 md-12">
                    <div class="about-info__text">

                        <h2 class="text-pretitle with-line" data-animate-el>
                            Обо мне
                        </h2>
                        <p class="attention-getter" data-animate-el>
                            Возраст: <i> {{ info.age }}
                            {% if info.age|get_digit:"1" == 1 %}
                            год
                            {% elif info.age|get_digit:"1" in list_234 %}
                            года
                            {% else %}
                            лет
                            {% endif %}

                        </i>
                            <br>
                            Место жительства: <i> {{ info.habitation }}</i><br>
                            {{ info.details|linebreaksbr }}</p>
                        <a href="#0" class="btn btn--medium u-fullwidth" data-animate-el>Скачать резюме</a>

                    </div>
                </div>
            </div> <!-- about-info -->


            <div class="row about-timelines" data-animate-block>

                <div class="column lg-7 tab-12">

                    <h2 class="text-pretitle" data-animate-el>
                        Навыки
                    </h2>

                    <div class="timeline" data-animate-el>
                        {% for skill in skills %}
                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <h5 class="timeline__meta">{{ skill.name_skill }}</h5>
                                <p class="timeline__timeframe">
                                    {% if skill.period %}
                                    Изучаю {{ skill.period }}
                                    <br>
                                    {% endif %}
                                    {% if skill.url %}
                                    <a href="{{ skill.url }}">Ссылка на пет-проект</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}

                    </div> <!-- end timeline -->

                </div> <!-- end column -->

                <div class="column lg-5 tab-12">
                    {% if education %}

                    <h2 class="text-pretitle" data-animate-el>
                        Образование
                    </h2>

                    {% for study in education %}
                    <div class="timeline" data-animate-el>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <h4 class="timeline__title">{{ study.organization }}</h4>
                                <h5 class="timeline__meta">{{ study.profession }}</h5>
                                <p class="timeline__timeframe">{{ study.start_date|date:"F Y" }}
                                    {% if study.end_date %}
                                    - {{ study.end_date|date:"F Y" }}</p>
                                {% endif %}
                            </div>
                            <div class="timeline__desc">
                                <p>{{ study.details|linebreaksbr }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div> <!-- end timeline -->


                    {% if experience %}
                    <h2 class="text-pretitle" data-animate-el>
                        Опыт работы
                    </h2>
                    {% for job in experience %}
                    <div class="timeline" data-animate-el>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <h4 class="timeline__title">{{ job.company }}</h4>
                                <h5 class="timeline__meta">{{ job.post }}</h5>
                                <p class="timeline__timeframe">{{ job.start_date|date:"F Y" }}
                                    {% if job.end_date %}
                                    - {{ job.end_date|date:"F Y" }}</p>
                                {% endif %}
                            </div>
                            <div class="timeline__desc">
                                <p>{{ job.details|linebreaksbr }}</p>
                            </div>
                        </div>

                    </div> <!-- end timeline -->
                    {% endfor %}

                    {% endif %}

                </div> <!-- end column -->


            </div> <!-- end about-timelines -->

        </section> <!-- end s-about -->


        <!-- ### works
        ================================================== -->
        <section id="works" class="s-works target-section">


            <div class="row works-portfolio">

                <div class="column lg-12" data-animate-block>


                    <p class="h1" data-animate-el>
                        Пет-проекты
                    </p>


                    <ul class="folio-list row block-lg-one-half block-stack-on-1000">
                        {% for project in pet_projects %}
                        <li class="folio-list__item column" data-animate-el>
                            <a class="folio-list__item-link" href="#modal-{{ project.pk }}">
                                <div class="folio-list__item-pic">
                                    <img src="{{ project.photo.url }}">
                                </div>

                                <div class="folio-list__item-text">
                                    <div class="folio-list__item-cat">
                                        {{ project.type }}
                                    </div>
                                    <div class="folio-list__item-title">
                                        {{ project.title }}
                                    </div>
                                </div>
                            </a>
                            <a class="folio-list__proj-link" href="{{ project.url }}" title="project link">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                                          fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </li> <!--end folio-list__item -->
                        {% endfor %}

                    </ul> <!-- end folio-list -->

                </div> <!-- end column -->


                <!-- Modal Templates Popup
                -------------------------------------------- -->
                {% for project in pet_projects %}
                <div id="modal-{{ project.pk }}" hidden>
                    <div class="modal-popup">
                        <img src="{{ project.photo.url }}" alt="">

                        <div class="modal-popup__desc">
                            <h5>{{ project.title }}</h5>
                            <p>{{ project.description }}</p>
                        </div>
                        <a href="{{ project.url }}" class="modal-popup__details">Ссылка на проект на GitHub</a>
                    </div>
                </div> <!-- end modal -->
                {% endfor %}

            </div> <!-- end works-portfolio -->


            <div class="row testimonials">
                <div class="column lg-12" data-animate-block>

                    <div class="swiper-container testimonial-slider" data-animate-el>
                        <p class="h1" data-animate-el>Сертификаты</p>
                        <div class="swiper-wrapper">

                            {% for certificate in certificates %}

                            <div class="testimonial-slider__slide swiper-slide">
                                <img src="{{ certificate.photo.url }}" width="500px">
                            </div> <!-- end testimonial-slider__slide -->

                            {% endfor %}

                        </div> <!-- end swiper-wrapper -->

                        <div class="swiper-pagination"></div>

                    </div> <!-- end swiper-container -->

                </div> <!-- end column -->
            </div> <!-- end row testimonials --> <!-- end swiper-wrapper -->

        </section> <!-- end s-works -->


        <!-- ### contact
        ================================================== -->
        <section id="contact" class="s-contact target-section">

            <div class="row contact-top">
                <div class="column lg-12">
                    <p class="h1">Дополнительная информация</p>
                </div>
                <ul>
                    {% for add_info in add_information %}
                    <li>
                        {{ add_info.content }}
                    </li>
                    {% endfor %}
                </ul>
            </div> <!-- end contact-top -->
            <div class="row contact-bottom">
                <div class="column lg-5 md-5 tab-6 stack-on-550 contact-block">
                    <h3 class="text-pretitle">Свяжитесь со мной</h3>
                    <p class="contact-links">
                        {{ info.email }}
                    </p>
                </div>
                <div class="column lg-5 md-5 tab-6 stack-on-550 contact-block">
                    <h3 class="text-pretitle">Медиа</h3>
                    <ul class="contact-social">

                        {% for media in social_media %}

                        <li><a href="{{ media.url }}">{{ media.title }}</a></li>

                        {% endfor %}

                    </ul>
                </div>

            </div> <!-- end contact-bottom -->

        </section> <!-- end contact -->

    </main> <!-- end s-content -->


    <!-- ## footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row">
            <div class="column ss-copyright">
                <span>© Copyright Luther 2021</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
                        <path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/>
                    </svg>
                </a>
            </div>
        </div>

    </footer> <!-- end s-footer -->

</div> <!-- end -s-pagewrap -->


<!-- Java Script
================================================== -->
<script src="{% static 'application/js/plugins.js' %}"></script>
<script src="{% static 'application/js/main.js' %}"></script>

</body>
</html>